CompileFlags:
  Remove:
    - "-std=c++23"
  Add:
    - "-std=c++2b"
Diagnostics:
  ClangTidy:
    Add: [
        performance-*,
        bugprone-*,
        portability-*,
        # cppcoreguidelines-*,
      ]
    Remove:
      [
        readability-*,
        modernize-use-trailing-return-type,
        bugprone-unhandled-exception-at-new,
        bugprone-easily-swappable-parameters,
        readability-isolate-declaration,
      ]
  UnusedIncludes: Strict
InlayHints:
  # BlockEnd: No
  Designators: Yes
  Enabled: Yes
  ParameterNames: Yes
  DeducedTypes: Yes